
#secProfile { margin-bottom: 50px }
#secProfile *, #secLogin * { transition-property: all; transition-duration: 0.5s; transition-timing-function: ease; transition-delay: 0s; }
#secProfile h2, #secLogin h2 { text-align: center; font-size: 35px; margin-bottom: 50px; margin-top: 50px; }
#secProfile h2::after, #secLogin h2::after { width: 15%; height: 1px; background: #000000; display: block; margin: 15px auto 30px; content: " "; }
#secProfile h3, #secLogin h3 { text-align: center; font-size: 30px; margin-bottom: 20px; }
#secProfile h4, #secLogin h4 { font-size: 22px; margin-top: 15px; margin-bottom: 5px; border-top: 1px solid; padding-top: 15px; }

#secProfile input[type=text], #secProfile input[type=email], #secProfile input[type=password], #secProfile textarea { border: 0; border-bottom: 1px solid; margin-bottom: 15px; }
#secProfile input[type="text"], #secProfile input[type="tel"], #secProfile input[type="date"], #secProfile input[type="cpf"], #secProfile input[type="cep"], #secProfile textarea { }
#secProfile input[type="text"]:focus, #secProfile input[type="tel"]:focus, #secProfile input[type="date"]:focus, #secProfile input[type="cpf"]:focus, #secProfile input[type="cep"]:focus, #secProfile textarea:focus { }

#secProfile .imagem img { margin-right: 15px; margin-bottom: 15px; }
#secProfile .nome { font-size: 40px; font-weight: bold; margin-bottom: 5px; }
#secProfile .email { font-style: italic; }
#secProfile .interesses { margin-top: 20px; font-size: 16px; }
#secProfile .interesses span { display: inline-block; }
#secProfile .interesses li { font-size: 20px; display: inline-block; font-weight: normal; }
#secProfile .interesses li:after { content: ","; font-weight: normal; font-size: 16px; margin-right: 5px }
#secProfile .interesses li a { }
#secProfile .interesses li:last-child:after { content: "" }

#secProfile #dadosEmpresa .empresa { }
#secProfile #dadosEmpresa .endereco { }
#secProfile #dadosEmpresa .telefone { }
#secProfile #dadosEmpresa .Cell { vertical-align: bottom; line-height: 25px; font-style: italic; }
#secProfile #dadosEmpresa .Cell:first-child { width: 75px; text-align: right; }
#secProfile #dadosEmpresa .dados { display: table; width: 100%; }
#secProfile #dadosEmpresa .dados input, #secProfile #dadosEmpresa .dados select { font-size: 20px; margin-top: 10px; padding: 0; border: 0; line-height: 25px; margin-bottom: 0; margin-left: 7px; border-bottom: 1px solid #ccc; min-width: 250px; width: 100%; max-width: 600px; }
#secProfile #dadosEmpresa .dados input:focus, #secProfile #dadosEmpresa .dados select:focus { border: 1px solid #231f20; padding: 7px 10px; font-size: 26px; }

#secProfile .sobre { margin-top: 20px }

#secProfile .Outros { }
#secProfile .Outros h3 { font-size: 30px; margin: 30px 0 15px; }
#secProfile .Outros .total { font-size: 18px; border-top: 1px solid #ccc; padding-top: 10px; margin-top: 15px; }
#secProfile .Outros .evento { font-size: 16px; padding-left: 15px; margin-bottom: 5px; }
#secProfile .Outros .Extra { font-size: 20px; line-height: 30px; }
#secProfile .Outros .Extra b { font-size: 25px; }

#secProfile .Participantes { display: table; width: calc(100% - 20px); padding: 15px 15px 0 15px; }
#secProfile .Participantes .info { display: table; margin-top: 15px; float: left; padding-top: 15px; border-top: 1px solid; width: 100%; }
#secProfile .Participantes .info .visitante { display: inline-table; width: 20%; margin-bottom: 15px; padding: 15px; vertical-align: top; color: #000000; }
#secProfile .Participantes .info .visitante:hover { background: #eee; }
#secProfile .Participantes .info .visitante .nomeVisitante { display: block; font-weight: bold; text-transform: capitalize; }
#secProfile .Participantes .info .visitante .emailVisitante { font-size: 13px; font-style: italic; display: block; margin-bottom: 5px; }
#secProfile .Participantes .info .visitante .cargoVisitante { display: block; }
#secProfile .Participantes .info .visitante .objetivoVisitante { font-size: 13px; display: block; }

#secProfile .botao { text-align: right; margin: 50px 0 10px; }

#contactList { display: flex; flex-flow: row wrap; margin-left: -10px; margin-right: -10px; }
#contactList a { font-size: 16px; vertical-align: top; padding: 15px; border: 1px solid #ddd; flex: 1 1 1; width: calc(20% - 20px); margin: 10px; }
#contactList a .titulo { display: block; font-size: 24px; font-weight: bold; text-transform: capitalize; word-wrap: break-word; }
#contactList a .empresa { margin: 5px 0; display: block; }
#contactList a .email { display: block; font-style: italic; font-size: 14px; text-transform: lowercase; }


#listProjetos { }
#listProjetos > a { font-size: 16px; display: table; border-top: 1px solid #dddddd; width: 100%; padding: 15px; }
#listProjetos > a:first-child { border: 0; }
#listProjetos > a:hover { background: #eee; }
#listProjetos .titulo { font-size: 18px; font-weight: bold; display: block; }
#listProjetos .infos { display: table; margin-top: 7px; }


#secLogin input[type=text], #secLogin input[type=email], #secLogin input[type=password], #secLogin textarea { border: 0; border-bottom: 1px solid; margin-bottom: 15px; }


@media screen and (max-width: 1300px) {
    #contactList a, #secProfile .Participantes .info .visitante { min-width: calc(25% - 20px); }
}

@media screen and (max-width: 1024px) {
    #contactList a, #secProfile .Participantes .info .visitante { min-width: calc(33.3% - 20px); }
}

@media screen and (max-width: 768px) {
    #contactList a, #secProfile .Participantes .info .visitante { min-width: auto; width: calc(100% - 20px); }
}
